name: CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

# The jobs that will be run on a pull request to merge to main branch.
jobs:
  build:
    runs-on: "ubuntu-latest"

    steps:
      #----------------------------------------------
      # from: https://github.com/snok/install-poetry
      #       check-out repo and set-up python
      #----------------------------------------------
      - name: Check out repository
        uses: actions/checkout@v2
      - name: Set up python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      #----------------------------------------------
      # from: https://github.com/snok/install-poetry#caching-the-poetry-installation
      #       check-out repo and set-up python
      #----------------------------------------------
      - name: Load cached Poetry installation
        uses: actions/cache@v3
        with:
          path: ~/.local # the path depends on the OS
          key: poetry-0 # increment to reset cache
      #----------------------------------------------
      #  -----  install & configure poetry  -----
      #----------------------------------------------
      - name: Install Poetry
        uses: snok/install-poetry@v1
        with:
          virtualenvs-create: true
          virtualenvs-in-project: true
          installer-parallel: true

      #----------------------------------------------
      # install dependencies if cache does not exist
      #----------------------------------------------
      - name: Install dependencies
        if: steps.cached-poetry-dependencies.outputs.cache-hit != 'true'
        run: poetry install --no-interaction --no-root

      # ---------------------------------------------
      #         Run linters
      # ---------------------------------------------

      - name: Lint with flake8
        run: |
          # stop the build if there are Python syntax errors or undefined names
          poetry run flake8 . --exclude .venv --count --select=E9,F63,F7,F82 --show-source --statistics

          # exit-zero treats all errors as warnings.
          poetry run flake8 . --exclude .venv --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics


      - name: Run Tests
        run: poetry run pytest tests/test_MGR.py -v
