
name: Create_and_Test_Python_App

# When do we want to run these jobs.
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

# The jobs that will be run on a pull request to merge to main branch.
jobs:
  build:

    # Runs on a server
    runs-on: ubuntu-latest

    # Steps that needs to be taken in order for the job to run correctly.
    steps:

      # Check out into the branch (switch) making the pull request
    - uses: actions/checkout@v3
    - name: Set up Python 3.10 and Poetry
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |
        curl -sSL https://install.python-poetry.org | python3 -export PATH=$PATH:$HOME/.poetry/bin
        poetry install --no-root
    - name: Lint with flake8
      run: |
        poetry run flake8 src
        poetry run black src
    - name: Test with pytest
      run: |
        poetry run pytest
